@import "tailwindcss";

@theme {
  /* Color */
  --color-clifford: #da373d;
  --color-neutral-900: #2c2721;
  --color-neutral-800: #3e3428;
  --color-neutral-700: #594b3b;
  --color-neutral-600: #7a6a57;
  --color-neutral-400: #e3ddd3;
  --color-neutral-200: #f1ede9;
  --color-neutral-100: #fbf6ef;
  --color-neutral-50: #fdfbf7;
  --color-neutral-0: #ffffff;
  --color-sun-500: #edb73b;
  --color-sun-300: #f5d88a;
  --color-sun-200: #ffde7a;
  --color-sun-50: #fff4db;
  --color-terracotta-700: #9f3e1d;
  --color-terracotta-600: #b6421b;
  --color-terracotta-500: #c25a2e;
  --color-terracotta-400: #e0793e;
  --color-blue-500: #586ac6;
  --color-rose-500: #bf4a71;
  /* Font */
  --font-fraunces: "Fraunces", serif;
  --font-dm-sans: "DM Sans", sans-serif;
  --font-dm-mono: "DM Mono", monospace;

  /* Shadows */
  --shadow-nav-btn: 0 1px 0 0 #3e2c1e08, inset 0 0 0 1px #3e2c1e14;
  --shadow-welcome:
    0 10px 40px -20px #c25a2e59, 0 50px 80px -30px #a9421f40,
    inset 0 0 0 1px #fff4dc1f;
  --shadow-receipt:
    0 1px 0 0 #00000008, 0 16px 30px -20px #3e2c1e59,
    0 20px 40px -30px #3e2c1e29;

  --shadow-cards:
    0 1px 0 0 #00000005, 0 1px 1px 0 #3e2c1e0a, 0 18px 40px -28px #3e2c1e40;
}

@utility preset-1 {
  @apply font-fraunces font-normal text-[2.5rem] leading-[120%] tracking-[-0.5px];
}

@utility preset-1-italic {
  @apply font-fraunces italic text-[2.5rem] leading-[120%] tracking-[-0.5px];
}

@utility preset-2 {
  @apply font-fraunces font-normal text-[2rem] leading-[120%] tracking-[-0.25px];
}

@utility preset-3 {
  @apply font-fraunces font-normal text-2xl leading-[140%] tracking-[-0.2px];
}

@utility preset-4 {
  @apply font-fraunces font-normal text-xl leading-[140%] tracking-[-0.1px];
}

@utility preset-4-italic {
  @apply font-fraunces italic text-xl leading-[140%] tracking-[-0.1px];
}

@utility preset-5 {
  @apply font-fraunces font-normal text-sm leading-[140%] tracking-normal;
}

@utility preset-5-medium {
  @apply font-dm-sans font-medium text-sm leading-[120%] tracking-normal;
}

@utility preset-5-semibold {
  @apply font-dm-sans font-semibold text-sm leading-[120%] tracking-[0.3px];
}

@utility preset-6 {
  @apply font-dm-mono font-medium text-sm leading-[140%] tracking-[2px];
}

@utility preset-7 {
  @apply font-dm-sans font-normal text-xs leading-[120%] tracking-[0.4px];
}

@utility preset-8 {
  @apply font-dm-mono font-normal text-sm leading-[140%] tracking-[2px];
}

@utility preset-9 {
  @apply font-dm-mono font-normal text-sm leading-[140%] tracking-normal;
}

@utility preset-10 {
  @apply font-dm-mono font-normal text-[0.625rem] leading-[140%] tracking-[1px];
}

@utility preset-11 {
  @apply font-fraunces font-medium text-[0.625rem] leading-[140%] tracking-[1px];
}

@utility btn-primary {
  @apply cursor-pointer py-2.5 px-4 bg-neutral-900 rounded-full text-sun-50 hover:bg-neutral-800 focus:outline-2 focus:outline-offset-[3px] focus:outline-terracotta-600;
}

@utility btn-secundary {
  @apply cursor-pointer py-2.5 px-4 bg-transparent border border-neutral-400 rounded-full text-neutral-900 hover:bg-neutral-200 focus:outline-2 focus:outline-offset-[3px] focus:outline-terracotta-600;
}

@utility mobile-nav {
  @apply p-1.5 cursor-pointer border border-neutral-400 rounded-sm;
}

@utility nav {
  @apply transition xl:transition-none duration-400 ease-in;
}

@utility nav-content {
  @apply transition-[width] xl:transition-none xl:w-full duration-500 ease-in p-4 md:px-6 xl:p-0 w-0 max-w-96 h-full bg-neutral-100 ring-1 xl:ring-0 ring-inset ring-neutral-400 flex flex-col overflow-auto;
}

@utility nav-content-open {
  @apply w-[85%];
}

@utility deskto-nav-btn {
  @apply cursor-pointer px-3 py-2.5 rounded-lg flex gap-2 items-center w-full hover:bg-neutral-0 hover:shadow-nav-btn;
}

@utility welcom-gradient {
  @apply bg-radial-[at_100%_0%] from-terracotta-400 via-terracotta-500 via-50% to-terracotta-600 to-100%;
}

@utility nav-weather-sun {
  @apply content-[''] absolute z-0 -right-[7%] -top-1/3 bg-[url('assets/images/icon-weather.svg')] bg-no-repeat bg-contain size-20;
}

@utility open-nav {
  @apply translate-x-0;
}
